<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Kidforce Collectibles
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="Kfc-Navbar">
    <img class="kidforcelogo" src="~/images/logot.png" />
    <div class="Kfc-Navbar-Links">
        <a href="#">Pinball</a>
        <a href="#">Calender</a>
        <a href="#">Events</a>
    </div>

</div>
    <div class="container-fluid body-content">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementsByClassName("Kfc-Navbar")[0].style.display="flex"
        } else {
            document.getElementsByClassName("Kfc-Navbar")[0].style.display = "none";
        }
        prevScrollpos = currentScrollPos;
    }
</script>
